.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-pagination-bullet-active {
  background-color: #141334 !important;
}

.swiper-button-prev {
  color: #141334 !important;
}

.swiper-button-next {
  color: #141334 !important;
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 320px) {
  .swiper-container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}

@media screen and (min-width: 1200px) {
  .swiper-container {
    width: 1200px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}
